<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
  <div ng-controller="PlayerCtrl">
    <button ng-click="play()" class="button" ng-show="!playing">Play</button>
    <button ng-click="stop()" class="button alert" ng-show="playing">Stop</button>
  	Playing audio: <b>{{playing}}</b>
  	<ul id="programs_list">
  		<li ng-repeat="program in programs" ng-click="play(program)">
  			<span class="large-12">{{program.title.$text}}</span>
  		</li>
  	</ul>
  </div>
  <div ng-controller="MyCtrl">
  <h1> Hello, {{person.name}}</h1>
  <h4> It is: {{clock}}</h4>
  </div>
  
  </body>
</html>